/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}


body {
    background: #80cbc4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


header {
    background: url('assets/img/header-bg-color-fade-h320px.jpg') no-repeat top center;
    background-size: cover;
    /* Cover the entire header */
    background-position: center;
    /* Center the image */
    height: 350px;
    /* Set a height for the header */
    color: white;
    /* Text color */
    display: flex;
    /* Align items */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    /*text-align: center;*/

}

.content-1 {
    /*text-align: center;*/
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 24px;
    line-height: 200%;
}



/*
figure {
    align-content: center;
    width: 300px;
    height: 300px;
     text-align: center;
    margin: 0 auto;
    background: red;

}
*/

.container {
    align-content: center;
    width: 300px;
    height: 300px;
    /* text-align: center;*/
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.content-2 {
    text-align: center;

}

nav #main-navbar ul {
    float: center;
    margin: 0 auto;
    width: 50em;
    height: 2em;
    display: flex;
    text-align: center;
    grid-gap: 1.3em;
    list-style-type: none;

}


nav ul li {
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;

}

nav li a {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 23px;
    color: #000;
    text-decoration: none;
}

nav li a:hover {
    color: white
}

nav ul li .active {
    color: #fff;


}

nav ul a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


#inhalt {
    max-width: 900px;
    margin: 20px auto;
    height: 100vh;
}


main-footer {
    align-content: center; 
    padding: 20px 16px,
}
