/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 24pt;
    padding-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #80cbc4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


header {
    background: url('assets/img/header-bg-color-fade-h320px-2.jpg') no-repeat top center;
    background-size: cover;
    /* Cover the entire header */
    background-position: center;
    /* Center the image */
    min-height: 30vw;
    padding-top: 3em;
    /* Set a height for the header */
    color: black;
    /* Text color */
    display: flex;
    /* Align items */
    justify-content: center;
    /* Center horizontally */
    /*align-items: center;*/
    /* Center vertically */
    /*text-align: center;*/
}

.content-1 {
    /*text-align: center;*/
    padding-left: 16px;
    padding-top: 100px;
    line-height: 200%;
}

figure.logo {
    width: 300px;
    height: 300px;
}

/*
figure {
    align-content: center;
    width: 300px;
    height: 300px;
     text-align: center;
    margin: 0 auto;
    background: red;
}
*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 16px;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.content-2 {
    text-align: center;

}

nav #main-navbar ul {
    float: center;
    margin: 0 auto;
    width: 50em;
    height: 2em;
    display: flex;
    text-align: center;
    grid-gap: 1.3em;
    list-style-type: none;
}


nav ul li {
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

nav li a {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 23px;
    color: #000;
    text-decoration: none;
}

nav li a:hover {
    color: white
}

nav ul li .active {
    color: #fff;
}

nav ul a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}


main {
    flex-grow: 1;
    min-height: 70vh;
    padding-top: 1.5em;
}

#inhalt {
    
    /*max-width: 900px;
    margin: 20px auto;
    height: 100vh;*/
}

table {
   /* min-height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: hsla(350,30%,10%,0.2);
    font-size: 25px;
    border-radius: 10px;
    border-collapse: collapse;
    /*box-shadow: 3px 3px 3px hsla(350,50%,50%,0.3);*/ 
}

td, th {
    padding: 15px 30px;
    text-align: left;
}

thead {
    /*box-shadow: 0 3px 6px color #00000030;*/
    background-color: darkslategrey;
    color: white;
}

th:first-child {
    border-radius: 10px 0 0 0;    
}

th:last-child {
    border-radius: 0 10px 0 0;    
}

tr: nth-child (even) {
    background-color:  hsla(350,30%,10%,0.6); 
}

tbody a /*ticket-link*/ {
    color: darkslategrey;
    text-decoration: none;
    transition: color 0.3s;
}

tbody a:hover /*ticket-link*/ {
    color: white;
}


.main-footer {
    display: flex;
    justify-content: center;
    /*align-content: center;
    text-align: center;
    padding: 20px 16px,*/
}

.content-4 {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

footer {
    /*display: flex;
    justify-content: space-around;*/
    /*text-decoration: none;
    list-style-type: none;*/
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    min-height: 8vh;
}


footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #80cbc4;
    
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-main {
    display: flex;
    justify-content: center;
        grid-gap: 2em;
}

.footer-column {
    /*
    flex-grow: 1;
    text-align: center;
    padding-top: 1rem;*/
}
/*
.footer-heading {
    margin-bottom: 1rem;
    
}*/

.footer-bottom {
    padding-top: 2rem;
    text-align: center
        
    /*grid-gap: 5em;*/
}
.copyright >*,
.footer-bottom >* {
   margin-right: 1em;   
}
.copyright span,
.footer-bottom span {
    margin-right: 3em;
}

.copyright i ,
.footer-bottom i {
    font-size: 1.5em;
}

/*.footer-bottom i.fa-facebook {
    font-size: 1.3em;
}*/