/*Resources
CSS Subgrid - https://www.youtube.com/watch?v=Yl8hg2FG20Q&t=766s 

reponsive NAV - https://www.youtube.com/watch?v=8eFeIFKAKHw
*/



/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general TEXT Parameters */

h1 {
    /*font-size:10vw;*/
    padding-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
}

/*Font Atributes Desktop*/

/*p {
    font-size: 5vh;
    line-height:140%;
}*/

/*Font Atributes Mobile*/



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #80cbc4;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /*width: 90%;
    margin: auto;*/
}

/* HEADER with LOGO & Phrase */

header {
    background: url('assets/img/header-bg-color-fade-2700x340px.jpg') no-repeat top center;
    background-size: cover;
    /* Cover the entire header */
    background-position: center;
    /* Center the image */
    /*min-height: 45vw;
    max-height: 10px;*/
    width: 100%;
    max-height: 340px;
    object-fit: cover;
    object-position: top center;
    padding-top: 1em;
    /* Set a height for the header */
    color: black;
    /* Text color */
    display: flex;
    /* Align items */
    justify-content: center;
    /* Center horizontally */
    /*align-items: center;*/
    /* Center vertically */
    /*text-align: center;*/
}

.content-1 {
    /*text-align: center;*/
    padding-left: 16px;
    padding-top: 100px;
    line-height: 200%;
}

figure.logo {
    width: 300px;
    height: 300px;
}

/*
figure {
    align-content: center;
    width: 300px;
    height: 300px;
     text-align: center;
    margin: 0 auto;
    background: red;
}
*/

/* GENERAL PARAMETERS */

.inhalt {
    width: 90%;
    margin: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em 16px;
}

img {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

.content-2 {
    text-align: center;

}

/*NAVIGATION-BAR Desktop*/

nav #main-navbar ul {
    float: center;
    margin: 0 auto;
    width: 50em;
    height: 2em;
    display: flex;
    text-align: center;
    grid-gap: 1.3em;
    list-style-type: none;
}


nav ul li {
    text-align: center;
    display: inline-block;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}

nav li a {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 23px;
    color: #000;
    text-decoration: none;
}

nav li a:hover {
    color: white
}

nav ul li .active {
    color: #fff;
}

nav ul a {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

/*NAVIGATION-BAR Mobile*/
.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a {
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #;
}

nav svg {
    fill: white;
}

#sidebar-active {
    display: none;
}

.open-sidebar-button,
.close-sidebar-button {
    display: none;
}

@media (max-width: 450px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: black;
        box-shadow: -5px 0 5px rgba (0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a {
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ links-container {
        right: 0;
    }

    #sidebar-active:checked ~ #overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}



/*MAIN BODY Elements */

main {
    flex-grow: 1;
    min-height: 70vh;
    padding-top: 1.5em;
}

#inhalt {

    /*max-width: 900px;
    margin: 20px auto;
    height: 100vh;*/
}


/* TABLE/Tour Dates */

.table headline {
    align-content: center;
}

table {
    /* min-height: 100vh;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*max-width: 2em;*/
    margin: 0 auto;
    background-color: hsla(350, 30%, 10%, 0.2);
    font-size: 25px;
    border-radius: 10px;
    border-collapse: collapse;
    /*box-shadow: 3px 3px 3px hsla(350,50%,50%,0.3);*/
}

td,
th {
    padding: 15px 30px;
    text-align: left;
}

thead {
    /*box-shadow: 0 3px 6px color #00000030;*/
    background-color: darkslategrey;
    color: white;
}

th:first-child {
    border-radius: 10px 0 0 0;
}

th:last-child {
    border-radius: 0 10px 0 0;
}

tr: nth-child (even) {
    background-color: hsla(350, 30%, 10%, 0.6);
}

tbody a {
    color: darkslategrey;
    text-decoration: none;
    transition: color 0.3s;
}

tbody a:hover {
    color: white;
}

/* CONTACT FORMULAR */

.contact-container {
    height: 100vh;
    display: flex;
    /*align-items: center;*/
    margin-top: 2em;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    grid-gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    /*color: ;*/
    font-size: 2em;
    margin-bottom: 0.1em;
}

.contact-left-title hr {
    border: none;
    width: 198px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 23px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 23px;
}

.contact-inputs:focus {
    border: 2px solid black;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    grid-gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #ff994f, #fa6d86);
    cursor: pointer;
}

.contact-left img {
    height: 15px;
}

.contact-right img {
    width: 500px;
    margin: 20px;
    border-radius: 100px;
    border: 2px solid black;

}


/* Mobile Responsive Design Styles */

@media (max-width:800px) {

    .contact-inputs {
        width: 80vw;
    }

    .contact-right {
        display: none;
    }
}

/* GALLERY PARAMETERS */

/*
.wrapper {
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax (350px, 1fr));
    grid-auto-rows: auto auto auto;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.box {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;  
}
*/

.wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.box-music {
    width: 300px;
    height: 520px;
    object-fit: cover;
    object-position: center;
    padding: 15px;
}

.box-podcast {
    width: 300px;
    height: 420px;
    object-fit: cover;
    object-position: center;
    padding: 15px;
}

.box-music:hover,
.box-podcast:hover {
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}

.box-music-img,
.box-podcast-img{
    border-radius: 25px; 
}



/*IMG GALLERY */

.container-gallery {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.gallery {
    display: flex;
/*
    flex-wrap: wrap;
*/
    align-items: center;
    justify-content: center;
    padding: 3em;
/*
    display: grid;
*/
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    
}

.img-box {
    width: 110px;
    height: 550px;
    margin: 12px;
    border-radius: 55px;
    background: url(assets/img/dj-pic-spaceholder-1.jpg);
    background-size: cover;
    background-position: center; 
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2) {
    background: url(assets/img/dj-pic-spaceholder-2.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3) {
    background: url(assets/img/dj-pic-spaceholder-3.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(4) {
    background: url(assets/img/dj-pic-spaceholder-4.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5) {
    background: url(assets/img/dj-pic-spaceholder-5.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6) {
    background: url(assets/img/dj-pic-spaceholder-6.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(7) {
    background: url(assets/img/dj-pic-spaceholder-7.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(8) {
    background: url(assets/img/dj-pic-spaceholder-8.jpg);
    background-size: cover;
    background-position: center;
}

.img-box h3 {
    color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity: 0.5s;
}

.img-box:hover {
    width: 350px;
    cursor: pointer;    
}

.img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
}

/* FOOTER */

.main-footer {
    display: flex;
    justify-content: center;
    /*align-content: center;
    text-align: center;
    padding: 20px 16px,*/
}

.content-4 {
    display: flex;
    text-decoration: none;
    list-style-type: none;
}

footer {
    /*display: flex;
    justify-content: space-around;*/
    /*text-decoration: none;
    list-style-type: none;*/
    background-color: black;
    color: white;
    padding: 1rem 1rem;
    min-height: 8vh;
}


footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    color: #80cbc4;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-main {
    display: flex;
    justify-content: center;
    grid-gap: 2em;
}

.footer-column {
    /*display: table-cell;
    vertical-align: middle;
    border: 2px dashed black;*/

    /*
    flex-grow: 1;
    text-align: center;
    padding-top: 1rem;*/
}

/*
.footer-heading {
    margin-bottom: 1rem;
    
}*/

.footer-bottom {
    padding-top: 2rem;
    text-align: center;

    /*grid-gap: 5em;*/
}

.copyright > *,
.footer-bottom > * {
    margin-right: 1em;
}

.copyright span,
.footer-bottom span {
    margin-right: 3em;
}

/*.copyright i,
.footer-bottom i {
    font-size: 1.5em;
}*/

/*.footer-bottom i.fa-facebook {
    font-size: 1.3em;
}*/



/* Mobile Responsive Design Styles */
/*
Media Queries für Responsive Design sollten immer 
ganz unten im Stylesheet stehen.
*/

@media (max-width:800px) { /*Warum 800px als Breakpoint?*/
    
    .contact-inputs {
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
}

